$textdark:  #092432;
$textlight: #707070;
$darkblue:  #002b50;
$lightblue: #4dd2d2;
$gradlight: #4dd2d2;
$graddark:  #092331;
$bgsite:    #d9d9d9;

$white:     #ffffff;
$black:     #000000;

$black2:     rgba(0,0,0,0.2);