@import 'breakpoints';
// Mixin para incluir breakpoints
@mixin responsive($size) {

	// user nav-menu
	@if ($size == nav-lg) {
		@media screen and (min-width:#{$nav-lg}) {
			@content;
		}
	}
	@if ($size == max-nav-lg) {
		@media screen and (max-width:#{$max-nav-lg}) {
			@content;
		}
	}
	
	// 1200px
	@if ($size == max-lg){
		@media screen and (max-width:#{$lg}){
			@content;
		}
	}
	@if ($size == min-lg){
		@media screen and (min-width:#{$lg}){
			@content;
		}	
	}
	
	// 992px
	@if ($size == max-md){
		@media screen and (max-width:#{$md}){
			@content;
		}
	}
	@if ($size == min-md){
		@media screen and (min-width:#{$md}){
			@content;
		}	
	}

	@if ($size == max-md){
		@media screen and (max-width:#{$max-md}){
			@content;
		}	
	}
	
	// 767px / 768px / 769px
	@if ($size == max-sm){
		@media screen and (max-width:#{$max-sm}){
			@content; 
		}
	}
	
	// 768px
	@if ($size == sm){
		@media screen and (max-width:#{$sm}){
			@content;
		}
	} 
	@if ($size == min-sm){
		@media screen and (min-width:#{$sm}){
			@content;
		}
	}
	
	// 769
	@if ($size == min-sm2){
		@media screen and (min-width:#{$min-sm}){
			@content;
		}
	}

	// 480px
	@if ($size == max-xs){
		@media screen and (max-width:#{$max-xs}){
			@content;
		}
	}
	@if ($size == min-xs){
		@media screen and (min-width:#{$xs}){
			@content;
		}	
	}

	// 380px
	@if ($size == xss){
		@media screen and (max-width:#{$xss}){
			@content;
		}
	}
	@if ($size == min-xss){
		@media screen and (min-width:#{$xss}){
			@content;
		}	
	}	
}

@mixin gradientVertical ($grad1,$grad2) {
	background: $grad1;
	background: -moz-linear-gradient(0deg, $grad1 0%, $grad2 100%);
	background: -webkit-linear-gradient(0deg, $grad1 0%,$grad2 100%);
	background: linear-gradient(0deg, $grad1 0%,$grad2 100%);
}
@mixin gradientHorizontal ($grad1,$grad2) {
	background: $grad1;
	background: -moz-linear-gradient(90deg, $grad1 0%, $grad2 100%);
	background: -webkit-linear-gradient(90deg, $grad1 0%,$grad2 100%);
	background: linear-gradient(90deg, $grad1 0%,$grad2 100%);
}