html,body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.main {
    @include gradientVertical($white,$bgsite);
    .content {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 15px;
    }
}