.actual-person-card, .person-card {
    background-color: $white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 3px 6px $black2;
    .info-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.actual-person-card {
    .image-wrapper {
        margin-right: 45px;
    }
    .info-wrapper {
        .left-column {
            .info-item {
                text-align: right;
                font-size: 14px;
                text-transform: uppercase;
                color: $textlight;
                margin: 14px 0;
                margin-right: 15px;
            }
        }
        .right-column {
            .info-item {
                text-align: left;
                font-size: 16px;
                font-weight: bold;
                color: $textdark;
                margin: 10px 0;
            }
        }
    }
}

.person-card {
    width: 28%;
    margin-bottom: 25px;
    cursor: pointer;
    .image-wrapper {
        margin-right: 30px;
        position: relative;
        .notification-counter {
            position: absolute;
            top: 0;
            right: -4px;
            z-index: 2;
            background-color: $lightblue;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: bold;
            color: $textdark;
            border-radius:20px;
        }
    }
    .info-wrapper-mini {
        .info-item {
            margin: 0;
            font-weight: bold;
            font-size: 16px;
            color: $textdark;
            transition: background-color .1s ease-in-out;
            &.role {
                font-weight: normal;
                color: $textlight;
                font-size: 14px;
            }
        }
    }
    &:hover {
        background-color: darken($white,7%);
        transition: background-color .1s ease-in-out;
    }
    
    &.active {
        background-color: $darkblue;
        transition: background-color .2s ease-in-out;
        .info-wrapper-mini {
            .info-item {
                color: $white;
                &.role {
                    font-weight: normal;
                    color: $white;
                }
            }
        }
        &:hover {
            background-color: darken($darkblue,3%);
            transition: background-color .1s ease-in-out;
        }
    }
    @include responsive(max-lg) {
        width: 43%;
    }
    @include responsive(max-md) {
        width: 100%;
    }
}