header {
    @include gradientHorizontal ($gradlight,$graddark);
    .header-content {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 27px 15px;
        position: relative;
        .header-menu {
            .menu-mobile-toggle {
                display: none;
                @include responsive (max-sm) {
                    display: block;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .main-menu {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                .menu-item {
                    margin: 0 10px; 
                    .menu-link {
                        text-transform: uppercase;
                        color: $white;
                        padding: 15px 10px;
                        cursor: pointer;
                        &:hover {
                            opacity: 0.8;
                            font-size: 16px;
                        }
                    }
                }
                @include responsive (max-sm) {
                    // display: none;
                    position:absolute;
                    top: 125px;
                    left: 0;
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .menu-item {
                        width: auto;
                        display: block;
                        .menu-link {
                            background-color: $darkblue;
                            display: block;
                            text-align: center;
                            border-bottom: 1px solid lighten($darkblue,10%);
                            box-shadow: 2px 3px 6px $black2;
                        }
                    }
                }
            }
        }
    }
}